.login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__description{
    margin: 40px 0 24px 0;
}
.for-input{
    display: flex;
    background: #FFFFFF;
}
.for-input_email{
    border-radius: 8px 8px 0 0;
}
.for-input_password{
    border-radius: 0 0 8px 8px;
}
.for-input_hidden{
    visibility: hidden;
    display: none;
}
.for-input input{
    background: none;
    width: 400px;
    height: 48px;
    border: none;
    padding: 16px 12px;
}
.for-input input:focus-visible{
    outline: none;
}
.for-input button{
    background: none;
    border: none;
    cursor: pointer;
}
.forgot{
    margin: 72px 0 0 0;
    text-align: center;
}
.forgot__hr{
    border: 1px solid #D1D1D1;
    width: 300px;
    margin: 0 0 12px 0;
}
.forgot__link{
    color: #4E73F8;
}
.login__error{
    display: flex;
    align-items: center;
    width: 424px;
    margin: 8px 0 0 0;
}
.error__icon{
    margin: 0 5px 0 0 ;
}
.error__message{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F43C3C;
}
.login__error_no{
    visibility: hidden;
}
.email__button_hidden{
    visibility: hidden;
}
