.content__main {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: flex-start;*/
    /*padding: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 498px;*/
    /*top: 84px;*/
    /*overflow-y: scroll;*/
    margin: 84px 0 0 498px;
}

.main-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px;
    /*gap: 20px;*/
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 264px;
    left: 0px;
    top: 0px;
    gap: 20px;
}

.column_element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    left: 0px;
    top: 0px;
    gap: 20px;
}

.post-img {
    height: 100%;
}

.post-img img {
    border-radius: 20px;
    width: 263px;
}

.post-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.post-username h6 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #404d61;
}
