.content__main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 498px;
    top: 84px;
    overflow-y: scroll;
}

.main-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 264px;
    left: 0px;
    top: 0px;
    gap: 20px;
}

.column_element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    left: 0px;
    top: 0px;
    gap: 20px;
}

.post-img {
    height: 100%;
}

.post-img img {
    border-radius: 20px;
    width: 263px;
}

.post-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.post-username h6 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #404d61;
}
footer{
    display: none;
}
/*header-styles*/
header{
    z-index: 999;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.button__filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 6px;
    background: #FFFFFF;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.header__nav h6{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 18px;
    color: #757D8A;
}
.search__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    gap: 6px;
    background: #FFFFFF;
    width: 308px;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.alert__button{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 9px;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.alert__button::before{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FF5959 0%, #EF2C2C 100%);
    content:"8";
    padding: 1px 5px;
    gap: 6px;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 90px;
    right: 122px;
    top: 4px;
}
.add__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    background: #0071E3;
    border-radius: 6px;
    width: 84px;
    height: 38px;
}
.login__button{
    padding: 6px 17px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #757D8A;
    background: #F8F8F8;
    border: 1px solid #E1E3E6;
}
.signup__button{
    display: flex;
    padding: 7px 18px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #0071E3;
}





