.welcome{
    display: flex;
    justify-content: center;
    width: 100%;
}
.welcome__col{
    padding: 0 30px;
}
.welcome__tagline{
    padding: 0 0 72px 0;
    max-width: 450px;
}
.welcome__description{
    padding: 0 0 89px 0;
    max-width: 450px;
}
.col__description{
    font-size: 16px;
}
.welcome__colors{
    padding: 20px 0 0 0;
    display: flex;
    margin: 0 0 63px 0;
}
.pink{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin: 0 8px 0 0;
}
.pink_1{
    background: rgba(255, 75, 110, 0.08);
}
.pink_2{
    background: rgba(255, 75, 110, 0.24);
}
.pink_3{
    background: rgba(255, 75, 110, 0.4);
}
.pink_4{
    background: rgba(255, 75, 110, 0.64);
}
.pink_5{
    background: #FF4B6E;
}
.pink_6{
    background: linear-gradient(180deg, #FF4B6E 0%, #EC234A 100%);
}
.example_laptop img {
    max-width: 562px;
}
.welcome__card{
    padding: 9px 0 0 0;
}
.card__author{
    display: flex;
    align-items: center;
}
.author__name{
    font-size: 6.56444px;
    line-height: 9px;
    padding: 0 0 0 4px;
}
.example_phone img{
    width: 162px;
    height: 326px;
    margin: 19px 0 0 0;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.button__filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 6px;
    background: #FFFFFF;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.header__nav h6{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 18px;
    color: #757D8A;
}
.search__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    gap: 6px;
    background: #FFFFFF;
    width: 308px;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.alert__button{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 9px;
    border: 0.75px solid #E1E3E6;
    border-radius: 6px;
    margin-right: 24px;
}
.alert__button::before{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FF5959 0%, #EF2C2C 100%);
    content:"8";
    padding: 1px 5px;
    gap: 6px;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 90px;
    right: 122px;
    top: 4px;
}
.add__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    background: #0071E3;
    border-radius: 6px;
    width: 84px;
    height: 38px;
}
.login__button{
    padding: 6px 17px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #757D8A;
    background: #F8F8F8;
    border: 1px solid #E1E3E6;
}
.signup__button{
    display: flex;
    padding: 7px 18px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #0071E3;
}

@media (min-width: 1000px) {
    .content{
        height: 90vh;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .welcome{
        flex-direction: column;
        align-items: center;
    }
    .welcome__col{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 0;
    }
    footer{
        position: inherit;
    }
}
